<?php if (isset($_POST['submit'])) {
  $to = "jessemerge2@gmail.com";
  $subject = "Message from Website";
  $message = $_POST['message'];
  $from = $_POST['email'];
  $headers = "From:" . $from;
  mail($to, $subject, $message, $headers);
} ?>

<contact-form id="contact">
  <text-content>
    <h2 class='yell-voice'><?= $section['heading'] ?> </h2>
    <p class="intro"><?= $section['intro'] ?></p>

    <?php
    if (isset($_POST['submit'])) { ?>
      <h5 class='strict-voice'>Your message has been sent.</h5>
    <?php } ?>

  </text-content>

  <form method="POST">
    <field>
      <input type="text" placeholder="<?= $section['labelOne'] ?>">
    </field>


    <field>
      <input name='email' placeholder="<?= $section['labelTwo'] ?>" type=" email">
    </field>


    <field class='message'>
      <textarea name="message" type="text" placeholder="<?= $section['labelThree'] ?>"></textarea>
    </field>


    <button class='action-link' type="submit" name="submit" value="Send Message"><?= $section['button'] ?></button>
  </form>


  <div class='fade'>
    <div class="cube-sphere">
      <?php include('templates/cube-sphere.php'); ?>
    </div>
  </div>
</contact-form>