<form-box>

   <div class="change-form">
      <span class='chant-voice'>PHP</span>
      <label class="switch">
         <input type="checkbox" id="switch" name="accept" value="yes">
         <span class="slider round"></span>
      </label>
      <span class='chant-voice'>JS</span>
   </div>


   <?php include("forms/" . $formThing['file-name'] . ".php") ?>

</form-box>