    <?php
    $heading = $section['heading'] ?? "Exercise Grid";
    $intro = $section['intro'] ?? "Check it out!";
    ?>

    <?php
    if ($page == "form") { ?>

        <style>
            form-grid text-content {
                margin-top: var(--simple-space);
            }
        </style>

    <?php } ?>

    <form-grid>

        <text-content>

            <h2 class='yell-voice'><?= $heading; ?></h2>
            <p class=' form-intro intro'><?= $intro; ?></p>
        </text-content>

        <nav class='php'>
            <ul>
                <?php foreach ($section['items'] as $form) { ?>
                    <li><a href="?page=form&id=<?= $form["id"] ?>" class=' action-link'"><?= $form['title'] ?></a></li>

                <?php } ?>
            </ul>
        </nav>

    </form-grid>