<goals-section id="goals">
	
	<text-content>
		<h3 class="attention-voice">Goals</h3>
		<p class='intro'><?= $section['intro']; ?></p>
		<h4 class="lead chant-voice"><?= $section['lead']; ?></h4>
	</text-content>
	<?php
	foreach ($goalsData as $goals) { ?>



		<?php include('templates/modules/goal-card/template.php');


	}?>
	


</goals-section>
