<?php
$projectDetailPageLink = $project['links'][0]['link']  ?? $project['direct-link'];
?>


<project-card>
	<text-content>
		<span class="span-title"><?= strtoupper($project['intro']) ?></span>
		<h3 class='attention-voice'><?= $project['title'] ?></h3>
		<div class="skills">
			<?php foreach ($project['skills'] as $skill) { ?>
				<p class="small-voice"><?= $skill ?></p>
			<?php } ?>
		</div>
	</text-content>
	<picture class='project-thumbnail'>

		<img src=" <?= $project['thumbnail'] ?>" alt="" loading='lazy'>
	</picture>


	<p class="project-detail "><?= $project['detail'] ?></p>

	<a class=" action-link" href="<?= $projectDetailPageLink ?>"><?= $project['links'][0]['title'] ?></a>
</project-card>