<?php foreach ($projectData['casestudy'] as $article) { ?>


    <section class="<?= $article["module"] ?>">
        <inner-column>

            <?php
            include('templates/case/' . $article["module"] . '/template.php');
            ?>
        </inner-column>
    </section>

<?php } ?>




<section class="links">
    <inner-column>
        <?php foreach ($projectData['links'] as $linkData) { ?>
            <a class=' action-link' target='project' href=" <?= $linkData['link'] ?>"><?= $linkData['title'] ?></a>
        <?php } ?>
    </inner-column>
</section>