<?php
if ($page == 'style') {
	$_GET['id'] = 'one';
}

$filtered = [];

foreach ($projectsData as $project) {
	if ($project['id'] !== $_GET['id']) {
		array_push($filtered, $project);
	}
}

?>

<project-section>
	<text-content>
		<h2 class='yell-voice'><?= $section['heading']; ?></h2>

		<p class='intro'><?= $section['intro']; ?></p>
	</text-content>
	<?php



	foreach ($filtered as $project) {

		include('templates/modules/project-card/template.php');
	} ?>
</project-section>