<footer class='site-footer'>
    <inner-column>

        <nav>

            <ul class='page-links'>
                <li><a href="?page=home">Home</a></li>
                <li><a href="?page=about">About</a></li>
                <li><a href="?page=projects">Projects</a></li>
                <li><a href="?page=writing">Writing</a></li>
            </ul>

            <ul class='socials'>
                <li><a href="https://github.com/JesseDevs">GitHub</a></li>
                <li><a href="https://twitter.com/Jesse_Devs">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/felix-jesser1223/">LinkedIn</a></li>
                <li><a href="https://www.instagram.com/jessedude2/">Instagram</a></li>

            </ul>

            <ul>
                <li class='small-voice'>© 2022 Portfolio from Jesse</li>
            </ul>

        </nav>

    </inner-column>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="file.js"></script>

</body>

</html>