<?php include('router/functions.php');

$description = null;
$metaImage = null;

$metaImage = $pageData['metaImage'] ?? 'images/details/computer.jpg';

?>

<?php

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jesse Felix Personal Site: <?= ucfirst($page); ?> Page</title>
<meta name='description' content="<?= $pageData['intro'] ?>">
<meta property="og:image" content="<?= $metaImage ?>">

<link rel="icon" type="image/png" sizes="32x32" href="images/wolf.png" />

<link rel="stylesheet" href="style.css">

</head>

<body class='<?= $page ?>'>