<%- include ('../partials/head') %>

<header class='main-tool-bar site-header'>
    <inner-column>

        <a class='logo-link' href="/">

            <div class="container">
                <div class="cube">
                    <div class="face top"></div>
                    <div class="face bottom"></div>
                    <div class="face left"></div>
                    <div class="face right"></div>
                    <div class="face front"></div>
                    <div class="face back"></div>
                </div>
            </div>

        </a>


        <nav class='main-menu'>
            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li class="large-size">
                    <a href="/writing">Writing</a>
                </li>
                <li class="larger-size">
                    <a href="/forms ">Forms</a>
                </li>
                <li class="larger-size">
                    <a href="/style ">Guide</a>
                </li>
            </ul>

        </nav>

        <button class='hamburger-button' id='toggle' rel='hamburger'>
            <div class='menu-bars'></div>
        </button>


        <nav class="burger">
            <a class="small-size" href="/">Home</a>
            <a class="small-size" href="/about">About</a>
            <a class="small-size" href="/projects">Projects</a>
            <a href=" /writing">Writing</a>

            <a href="/forms">Forms</a>
            <a href="/style">Guide</a>
        </nav>



    </inner-column>
</header>