goal-block {
    width: 100%;
    display: grid;
    gap: var(--simple-big-space);


    ul {
        padding-left: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        list-style: square;
    }
}