goal-card {
	width: 100%;
	display: block;
	margin-bottom: var(--general-space);

}

goal-card ul {
	padding-left: 1rem;
}

goal-card li {
	max-width: 60ch;
	list-style: square;
	padding-top: var(--simple-space);
}

goal-card span {
	font-size: 2rem;
	font-weight: 600;
	max-width: fit-content;

	top: 0;
	right: 0;
	color: var(--highlight);
	filter: opacity(50%) blur(.5px);
	z-index: -10;
}

@media(min-width: 800px) {
	goal-card li {
		max-width: 40ch;
	}
}