resume-card .skills {
	padding: 0;
}

resume-card {
	margin: var(--tight-space) 0;
	padding-bottom: var(--simple-space);
}

resume-card text-content {
	color: var(--ink);
}


.date {
	margin-bottom: var(--tight-space);
	color: var(--ink);
}

.duties {
	padding-left: 1rem;
	padding-top: var(--simple-space);
	padding-bottom: var(--simple-space);
}

.duties li {
	list-style-type: square;
	max-width: 50ch;
	padding-top: var(--simple-small-space);
	padding-bottom: var(--simple-small-space);

}

@media(min-width: 800px) {

	resume-card {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto auto 1fr auto;
		column-gap: var(--simple-big-space);
	}

	resume-card * {
		grid-column: 1 /span 4;
	}

	.education+resume-card+resume-card {
		grid-row: 6;
	}

}