<?php

$flipped = null;

if ($article["flipped"]) {
    $flipped = "flipped";
}

$article["title"]

?>



<diptech class=' <?= $flipped ?>'>

    <text-content>

        <?php if ($article["title"]) { ?>
            <h3 class="attention-voice">
                <?= $article["title"] ?>
            </h3>
        <?php } ?>

        <?php
        foreach ($article["text"]  as $paragraph) { ?>

            <p><?= $paragraph ?></p>

        <?php } ?>
    </text-content>

    <picture>
        <img src="<?= $article["image"] ?>" alt="" loading='lazy'>
    </picture>


</diptech>