<double-text>
    <?php if (isset($article["title"])) { ?>
        <h3 class="attention-voice">
            <?= $article["title"] ?>
        </h3>
    <?php } ?>
    <text-content class="p-one">

        <?php
        foreach ($article["text-one"]  as $paragraph) { ?>

            <p><?= $paragraph ?></p>

        <?php } ?>
    </text-content>
    <text-content class="p-two">

        <?php
        foreach ($article["text-two"]  as $paragraph) { ?>

            <p><?= $paragraph ?></p>

        <?php } ?>
    </text-content>
</double-text>