<goal-block>

    <h3 class="attention-voice">
        <?= $article["title"] ?>
    </h3>

    <ul>
        <?php foreach ($article["goals"] as $goal) { ?>
            <li><?= $goal ?></li>
        <?php } ?>
    </ul>

</goal-block>